/* font import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Open+Sans&family=Work+Sans:wght@400;600;700&display=swap");

/* common styles */

* {
  font-family: Work Sans;
  margin: 0;
  padding: 0;
}
.btn {
  border: none;
  padding: 15px 42px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.secondary-btn {
  background: #4ec5f7;
}
.text-gray {
  color: #534c64;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* navbar styles */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  margin: 0 200px;
}
.menu ul {
  display: flex;
}
.menu li {
  list-style: none;
  margin-right: 20px;
}
.gammer-title {
  font-size: 40px;
  font-weight: 700px;
}
.title-color {
  color: orangered;
}

/* banner style */
.banner-section-container {
  /* border: 2px solid red; */
}
.banner-container {
  /* margin: 0 200px; */
  display: flex;
  justify-content: space-between;
}
.content-container {
  background-image: url("../images/Group 14.png");
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  width: 901px;
  height: 700px;
}
.content {
  padding-left: 240px;
  padding-top: 208px;
}
.play-style {
  color: #0b0223;
  /* text-align: center; */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.goat-style {
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-container ul li {
  list-style: none;
  margin-bottom: 17px;
}
.image-container {
  margin-right: 200px;
  margin-left: 80px;
}

/* gammer section style */
.gamer-section {
  padding: 10px;
  height: 600px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin-bottom: 120px;
}

.gammer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamer-img {
  width: 864px;
  height: 480px;
  padding: 10px;
  margin-left: 200px;
  margin-bottom: 55px;
  margin-top: 55px;
}
.gammer-content {
  margin-right: 200px;
  margin-left: 52px;
  text-align: right;
  padding: 5px;
}
.gamer-title {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-details {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.our-purpose {
  padding: 20px;
}

/* online games section */
.games-section {
  margin-bottom: 120px;
}
.title-container {
  text-align: center;
  margin-bottom: 48px;
}
.games-title {
  color: #0b0223;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-container {
  /* border: 1px solid goldenrod; */
  height: 500px;
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 10px;
}
.card {
  height: 484px;
  width: 342px;
}

.card img {
  width: 342px;
  height: 400px;
  border-radius: 16px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.card img:hover {
  border: 1px solid gray;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* download section */
.download-section {
  height: 725px;
  /* border: 1px solid rebeccapurple; */
  margin-left: 470px;
  margin-right: 200px;
  margin-bottom: 200px;
}
.download-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.download-img img {
  width: 634px;
  height: 650px;
  
}
.download-content{
  width: 341px ;
  padding-bottom: 250px;

}
.download-title {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.small-img img{
  width: 300px;
  height: 400px;
}

.small-img{
  position: relative;
  bottom: 150px;
  left: -120px;
}



/* career section styles */
.career-section{
  height: 820px;
  margin-bottom: 120px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.career-container{
  display: flex;
  margin-left:  200px;
}
.career-content{
  padding-top: 200px;
  color: #fff;
}
.items-container{
  display: flex;
  margin-top: 20px;
}
.career-title{
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.career-btn{
  border: none;
  border-radius: 48px;
 background: #FFF;
padding: 20px 40px;
font-size: 20px;
margin-top: 20px;

}



/* footer style */
.footer{
  background: #0B0223;
  height: 400px;
}
.footer-container{
  padding-top: 50px;
  width: 814px;
  margin: 0 auto;
}
.footer-title{
   display: flex;
   justify-content: center;
   gap: 20px;
   color: #fff;
   font-size: 22px;
   margin-bottom: 20px;
}
.options, .social-links{
  margin-bottom: 30px;
  padding: 10px;
}

.options ul{
  display: flex;
  justify-content: space-around;
}
.options ul li{
  list-style: none;
  color: #FFF;
}
.social-links ul{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.social-links ul li{
  list-style: none;
  color: #FFF;
  font-size: 24px;
  
}














/* Responsive for mobile device */
@media screen and (max-width: 576px) {
    .nav-container,
    .menu ul
    
    {
      flex-direction: column;
    }

    /* banner-container */
    .banner-container{
      flex-direction: column;
    }
    .content{
      width: 100%;
      margin: 5px;
      padding: 10px;
    }
    .image-container{
      margin: 10px;
      padding: 10px;
    }
    .image-container img{
      width: 100%;
    }
}