/* font import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Open+Sans&family=Work+Sans:wght@400;600;700&display=swap");

/* common styles */

* {
  font-family: Work Sans;
  margin: 0;
  padding: 0;
}

/* nav styles */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0px;
}
.logo img {
    width: 86.041px;
    height: 40px;
}
.logo {
  display: flex;
  align-items: center;
}
.menu ul {
  display: flex;
}
.menu ul li {
  list-style: none;
  margin-right: 56px;
  font-size: 1.2rem;
  font-weight: 500;
}
.gammer-title{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 20px;
}
.title-color{
    color: rgb(207, 9, 48);
}